extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= name

        p.lead.text-light= about

        .portfolio-bio
          p= bio
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          each skill in skills
            li= skill
        h6 Contact Info

        ul
          li= phone
          li= email

        a.button.social(href=`${linkedin}` target="_blank") <i class="fab fa-linkedin-in"></i>
        a.button.social(href=`${github}` target="_blank") <i class="fab fa-github"></i>
        a.button.social(href=`${twitter}` target="_blank") <i class="fab fa-twitter"></i>
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
